include vars

mixin svg(name,mod)
		- mod = mod || ''
		svg(class="icon icon-" + name + ' ' + mod)
			use(xlink:href="static/img/svg/sprite.svg#" + name)

mixin pet(name)
	li.pet=name

mixin menu(list)
	nav.menu
		ul.menu__list
			each link, title in list
				li.menu__item
					a.menu__link(href= link)= title

mixin webp(classname, path, type, name)
	picture
		source(srcset='static/img/'+path + ".webp" type="image/webp")
		img(class=classname, src='static/img/'+path + "."+type alt=name)

mixin menu(className, arr)
	ul(class=className+"__list")
		each name in arr
			li(class=className+"__item")
				a(class=className+"__link" href="#")=name
